#about-section {
    padding: 2rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#github-logo {
    width:4rem;
    margin: 0 1rem;

}
#linkedin-logo {
    width: 8rem;
}
.about-word-section {
    width: 22rem;
    text-align:justify;
    /* border: 2px solid red; */
}


.logo-images {
    width:2rem;
    height: 2rem;

}

.logo-images-flask {
    width: 2rem;
}


.name-logo {

    display: flex;
    align-items: center;
    gap: 1.5rem;
}

#website-name {
    color: var(--pinterest-red)
}
