:root {
  --pinterest-red: rgb(230, 0, 35);
  --hovered-red: #ad081b;
}

.sub-main-container {
  margin: auto;
  box-shadow: 2px 2px 2px gray;
  border: 1px solid gray;
  border-radius: 15px;
  width: 870px;
  display: flex;
  align-items: center;
  padding: 1rem;
  height: 645px;
}

#specific-pin-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.pin-left-side {
  /* border: 2px solid red; */
  width: 50%;
  height: 100%;
}

.right-text-section {
  /* border: 2px solid blue; */
  width: 50%;
  height: 100%;
  padding: 1.5rem;
  overflow-y: scroll;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.left-img-container {
  border: 2px solid black;
  height: 600px;
  width: 400px;
  margin: auto;
  margin-top: 4px;
  border-radius: 20px;
  overflow: hidden;
}

#pin-description-ptag {
  text-align: justify;
}


#go-back-btn{
  margin-left: 5rem;
  margin-bottom: 2rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.1rem;
}

#saved-ptag, .empty-comment-error{
  color: red;
}

#save-pin-btn {
  background-color: var(--pinterest-red);
  color: white;
  padding: 0.59rem;
  border-radius: 0 8px 8px 0;
  border:none;

}

#select-board-select {
  padding: 0.5rem;
}

#save-pin-btn:hover {
  background-color: var(--hovered-red);
}


.comment-container {
  /* border: 2px solid blue; */
  display: flex;
  gap: 1rem;
}

#username-ptag{
  font-weight: 500;
}

#comment-ptag{
  overflow-wrap: anywhere;
}


#make-comment-section{
  border:2px solid green;
  display:flex;
}

#comment-writing-textarea{
  width:90%;
}

#num-comments-ptag{
  border-top: 1px solid gray;
  padding-top: 5px;
  font-weight: 500;

}
