:root {
  --pinterest-red: rgb(230, 0, 35);
  --hovered-red: #ad081b;
}

.sub-main-container {
  margin: auto;
  box-shadow: 2px 2px 2px gray;
  border: 1px solid gray;
  border-radius: 15px;
  width: 870px;
  display: flex;
  align-items: center;
  padding: 1rem;
  height: 645px;
}

#specific-pin-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.pin-left-side {
  /* border: 2px solid red; */
  width: 50%;
  height: 100%;
}

.right-text-section {
  /* border: 2px solid blue; */
  height: 100%;
  width:50%;
  /* width: 50%;
  height: 100%;
  padding: 1.5rem;
  overflow-y: scroll;
  white-space: pre-wrap;
  overflow-wrap: break-word; */
}

.right-side-above-comments {
  width: 100%;
  height: 80%;
  padding: 1.5rem;
  overflow-y: scroll;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  /* border: 1px solid red; */
}

.left-img-container {
  border: 2px solid black;
  height: 600px;
  width: 400px;
  margin: auto;
  margin-top: 4px;
  border-radius: 20px;
  overflow: hidden;
}

#pin-description-ptag {
  text-align: justify;
}


#go-back-btn{
  margin-left: 5rem;
  margin-bottom: 2rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.1rem;
}

#saved-ptag, .empty-comment-error{
  color: red;
}

#save-pin-btn {
  background-color: var(--pinterest-red);
  color: white;
  padding: 0.59rem;
  border-radius: 0 8px 8px 0;
  border:none;

}

#select-board-select {
  padding: 0.5rem;
}

#save-pin-btn:hover {
  background-color: var(--hovered-red);
}


.comment-container {
  /* border: 2px solid blue; */
  display: flex;
  gap: 1rem;
}

#username-ptag{
  font-weight: 500;
  margin:0.3rem;
}

#comment-ptag{
  overflow-wrap: anywhere;
  margin:0.3rem;
}


#make-comment-section{
  border:1px solid gray;
  display:flex;
  border-radius: 20px;
  overflow: hidden;

}

#comment-writing-textarea{
  width:90%;
  padding-left: 1rem;
  padding-top: 0.5rem;
  border: none;
}

#comment-writing-textarea:focus{
  outline: none;
}

#num-comments-ptag{
  border-top: 1px solid gray;
  padding-top: 5px;
  font-weight: 500;

}
#post-comment-btn{
  border:none;
  background-color: var(--pinterest-red);
  color:white;
  width:10%;
}

.fa-paper-plane {
  transform: rotate(20deg);
}


.bottom-comment-area {
  /* border: 2px solid black; */
  padding: 0 1.5rem;
}


.edit-delete-btns-wrapper {
  /* border: 2px solid blue; */
  display:flex;
  gap:0.3rem;
  /* margin-left: 1.5rem; */

}

.edit-delete-btns-wrapper > * {
  border: none;
  padding: none;
  margin: none;
  font-size: 10px;
  background-color:transparent;
  color:rgb(76, 74, 74);
}


.edit-delete-btns-wrapper > *:hover {

  color:rgb(36, 36, 36);
  font-weight: 500;
}

#delete-comment-btn {
  cursor:pointer;
}

#pin-post-username-span {
  font-weight: 500;
  color: black;
}

#posted-by-div {
  color: gray;
}
