.edit-delete-board-btns-container{
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}

.edit-board-btn-wrapper > button {
    background-color: gray;
    color: white;
    padding: 0.5rem;
    border-radius: 8px;
}

.delete-board-btn-wrapper > button {
    background-color: var(--pinterest-red);
    color: white;
    padding: 0.5rem;
    border-radius: 8px;
}


/* masonry stuff */
.third-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -10px; /*gutter size offset */

    width: auto;
  }
  .third-masonry-grid_column {
    padding-left: 10px; /* gutter size */
    background-clip: padding-box;
  }
  
  /* Style your items */
  .third-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */

    margin-bottom: 10px;
  }
